root = true

[*]
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[Makefile]
indent_style = tab

# Workaround for https://github.com/dotnet/roslyn-analyzers/issues/5628
[Program.cs]
dotnet_diagnostic.ca1812.severity = none

[*.{yml,yaml}]
indent_size = 2

# Code files
[*.{cs,csx,vb,vbx,ps1,psm1}]
indent_size = 4

# Xml project files
[*.{csproj,vcxproj,vcxproj.filters,proj,nativeproj,locproj}]
indent_size = 2

# Xml build files
[*.builds]
indent_size = 2

# Xml files
[*.{xml,stylecop,resx,ruleset}]
indent_size = 2

# Xml config files
[*.{props,targets,config,nuspec}]
indent_size = 2

[*.{json,js,jsx,ts,tsx,less,css,markdown,md}]
indent_size = 2

[*.tt]
indent_style = ignore
indent_size = ignore
end_of_line = ignore
trim_trailing_whitespace = ignore
charset = ignore
insert_final_newline = ignore

[*.cs]
# Default severity for analyzer diagnostics with category 'Style' (escalated to build warnings)


dotnet_analyzer_diagnostic.category-Style.severity = error

# Types: use keywords instead of BCL types, and permit var only when the type is clear
csharp_style_var_for_built_in_types = true:error
csharp_style_var_when_type_is_apparent = true:error
csharp_style_var_elsewhere = true:error







csharp_style_namespace_declarations = file_scoped:warning

# Analyzers - General
dotnet_diagnostic.CA1014.severity = none
dotnet_diagnostic.ca1054.severity = suggestion
dotnet_diagnostic.ca1056.severity = suggestion
dotnet_diagnostic.ca1062.severity = suggestion
dotnet_diagnostic.ca1031.severity = none
dotnet_diagnostic.ca1305.severity = suggestion

# Analyzers - Naming
dotnet_diagnostic.ca1707.severity = suggestion
dotnet_diagnostic.ca1716.severity = none
dotnet_diagnostic.ca1724.severity = none

# Analyzers - Performance
dotnet_diagnostic.ca1822.severity = suggestion      # mark members as static

# Analyzers - Reliability
dotnet_diagnostic.ca2007.severity = none            # configure await - only necessary in GUI apps

# Analyzers - Usage
dotnet_diagnostic.ca2227.severity = none            # collection properties should be readonly - breaks JSON serialization

# Analyzers - SonarAnalyzer
dotnet_diagnostic.sa0001.severity = none            # don't require XML comments
dotnet_diagnostic.sa1313.severity = none            # false negative about record parameters
dotnet_diagnostic.s4457.severity = none             # await/async methods should be split - not considered as serious
dotnet_diagnostic.SA1101.severity = none            # prefix local calls with this - we're using underscore to mark local fields instead
dotnet_diagnostic.SA1200.severity = none            # put using statements inside of namespace - we put using statements outside of the namespace
dotnet_diagnostic.SA1305.severity = warning         # don't allow hungarian notation
dotnet_diagnostic.SA1309.severity = none            # don't prefix with underscore - we do use underscores for fields
dotnet_diagnostic.SA1503.severity = none            # don't omit braces - we're okay with this within reason

# Analyzers - SonarAnalyzer - XML Comment Related
dotnet_diagnostic.SA1600.severity = none            # elements must be documented - we're not requiring XML comments
dotnet_diagnostic.SA1601.severity = none            # partials must be documented - we're not requiring XML comments
dotnet_diagnostic.SA1602.severity = none            # enums must be documented - we're not requiring XML comments
dotnet_diagnostic.SA1609.severity = warning         # elements must be documented - only a warning because, if we document, we can put the value there, too
dotnet_diagnostic.SA1611.severity = none            # returns must be documented - we're not requiring XML comments
dotnet_diagnostic.SA1615.severity = none            # elements must be documented - we're not requiring XML comments
dotnet_diagnostic.SA1623.severity = none            # props must have "gets or sets" - this is too verbose and prescriptive
dotnet_diagnostic.SA1633.severity = none            # file must have a header - we're not requiring comment headers
dotnet_diagnostic.SA1649.severity = none            # file name should match first file type - we're not requiring this as we sometimes put interfaces in the same file
dotnet_diagnostic.SA1652.severity = none            # XML comment analysis - we're not requiring XML comments

dotnet_diagnostic.SX1101.severity = warning         # don't prefix members with this
dotnet_diagnostic.SX1309.severity = warning         # field members must be prefixed with _

# see https://csharpier.com/docs/IntegratingWithLinters
dotnet_diagnostic.SA1000.severity = none
dotnet_diagnostic.SA1009.severity = none
dotnet_diagnostic.SA1111.severity = none
dotnet_diagnostic.SA1118.severity = none
dotnet_diagnostic.SA1137.severity = none
dotnet_diagnostic.SA1413.severity = none
dotnet_diagnostic.SA1500.severity = none
dotnet_diagnostic.SA1501.severity = none
dotnet_diagnostic.SA1502.severity = none
dotnet_diagnostic.SA1504.severity = none
dotnet_diagnostic.SA1516.severity = none

# Analyzers - Stylistic
dotnet_diagnostic.IDE0010.severity = refactoring
dotnet_diagnostic.IDE0011.severity = suggestion
dotnet_diagnostic.IDE0021.severity = suggestion
dotnet_diagnostic.IDE0022.severity = suggestion
dotnet_diagnostic.IDE0046.severity = refactoring
dotnet_diagnostic.IDE0058.severity = none
dotnet_diagnostic.IDE0072.severity = refactoring
dotnet_diagnostic.IDE0161.severity = refactoring

# SonarAnalyzer
dotnet_diagnostic.s1135.severity = suggestion       # clean up TODOs if possible

# see https://csharpier.com/docs/IntegratingWithLinters
dotnet_diagnostic.SA1001.severity = none
dotnet_diagnostic.SA1002.severity = none
dotnet_diagnostic.SA1003.severity = none
dotnet_diagnostic.SA1007.severity = none
dotnet_diagnostic.SA1008.severity = none
dotnet_diagnostic.SA1010.severity = none
dotnet_diagnostic.SA1011.severity = none
dotnet_diagnostic.SA1012.severity = none
dotnet_diagnostic.SA1013.severity = none
dotnet_diagnostic.SA1014.severity = none
dotnet_diagnostic.SA1015.severity = none
dotnet_diagnostic.SA1016.severity = none
dotnet_diagnostic.SA1017.severity = none
dotnet_diagnostic.SA1018.severity = none
dotnet_diagnostic.SA1019.severity = none
dotnet_diagnostic.SA1020.severity = none
dotnet_diagnostic.SA1021.severity = none
dotnet_diagnostic.SA1022.severity = none
dotnet_diagnostic.SA1023.severity = none
dotnet_diagnostic.SA1024.severity = none
dotnet_diagnostic.SA1025.severity = none
dotnet_diagnostic.SA1026.severity = none
dotnet_diagnostic.SA1027.severity = none
dotnet_diagnostic.SA1028.severity = none
dotnet_diagnostic.SA1102.severity = none
dotnet_diagnostic.SA1103.severity = none
dotnet_diagnostic.SA1104.severity = none
dotnet_diagnostic.SA1105.severity = none
dotnet_diagnostic.SA1107.severity = none
dotnet_diagnostic.SA1110.severity = none
dotnet_diagnostic.SA1112.severity = none
dotnet_diagnostic.SA1113.severity = none
dotnet_diagnostic.SA1114.severity = none
dotnet_diagnostic.SA1115.severity = none
dotnet_diagnostic.SA1116.severity = none
dotnet_diagnostic.SA1117.severity = none
dotnet_diagnostic.SA1127.severity = none
dotnet_diagnostic.SA1128.severity = none
dotnet_diagnostic.SA1136.severity = none
dotnet_diagnostic.SA1505.severity = none
dotnet_diagnostic.SA1506.severity = none
dotnet_diagnostic.SA1507.severity = none
dotnet_diagnostic.SA1508.severity = none
dotnet_diagnostic.SA1509.severity = none
dotnet_diagnostic.SA1510.severity = none
dotnet_diagnostic.SA1511.severity = none
dotnet_diagnostic.SA1517.severity = none
dotnet_diagnostic.SA1518.severity = none
